# cache
cogs/__pycache__/
__pycache__

# config (temporary)
config.py
pyrefly.toml
latest.log
.venv
.vscode
.env
savedata

# Written by the broker: which source each installed plugin came from.
config/installed.json
